<div class="loginPage">
<div class="loginConts">
  login here
  <p onclick="signupFuc()">bhsbsbsDon't have an account? Sign Up</p>
</div>
</div>
<div class="signupPage" style="display: none;">
<div class="signupConts">
  signup here
</div>
</div>